<!DOCTYPE html>
<!-- Once you download the file, you can include bootstrap.min.css file in the <head> and bootstrap.min.js in <body>. Even if you are using the downloaded bootstrap file, you have to include jquery.min.js and popper.min.js before loading bootstrap.min.js -->
<html lang="en">
	<head>
    {% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
		<title>Nav Bar</title>
	</head>
	<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark" style="opacity: 100%;">
          <a class="navbar-brand" href="#">
            <img src="{% static 'mainapp/Title-Logo.jpg' %}" width="40" height="40" alt="" title="Lucky">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}" style="color:white;">Home<span class="sr-only">(current)</span></a>
          </li>
          <!---<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story1' %}" style="color:white;">Story 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story3index' %}" style="color:white;">Story 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}" style="color:white;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matkuldetail' %}" style="color:white;">Mata Kuliah</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addmatkul' %}" style="color:white;">Tambah Mata Kuliah</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kegiatan' %}" style="color:white;">List Kegiatan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_peserta' %}" style="color:white;">Register Peserta</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{% static 'mainapp/bootstrap.min.js' %}"></script>
	</body>
</html>