<!DOCTYPE html>
<!-- Once you download the file, you can include bootstrap.min.css file in the <head> and bootstrap.min.js in <body>. Even if you are using the downloaded bootstrap file, you have to include jquery.min.js and popper.min.js before loading bootstrap.min.js -->
<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
		<title>Register</title>
	</head>
	<body>
		{% include 'mainapp/includes/_navbar.html' %}

		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Nama</label>
				{{ form.name }}
			</div>
			<div class="form-group">
				<label for="kegiatan">Kegiatan</label>
				{{ form.kegiatan }}
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn primary">SUBMIT</button>
			</div>
		</form>

		

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{% static 'mainapp/bootstrap.min.js' %}"></script>
		{% include 'mainapp/includes/_footer.html' %}
	</body>
</html>