<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'story3/style.css' %}">
<title>Profile</title>
</head>
{% include 'mainapp/includes/_navbar.html' %}

<body style="font-family:Verdana;background-color:#9B989B;">

<div style="background-color:#333033;padding:15px;text-align:center;">
  <img src="https://i.ibb.co/VjSkWYy/Bla.jpg" alt="Group Photo" style="max-width:400px;">
  <div style="text-align:center; font-size:30px; color:white;">Me and My Friends</div>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="{% url 'story3index' %}">Profile</a>
    <a href="{% url 'story3achievement' %}">Achievement</a>
    <a href="{% url 'story3org' %}">Organization</a>
    <a href="{% url 'story3hobbies' %}">Hobbies</a>
  </div>

  <div class="main">
    <h2>Profile</h2>
    My name is Lucky Susanto. People call me Lucky (spelled:luki).<br>
    Born at Jakarta at 14<sup>th</sup> of August 2001, I'm a Leo.<br>
    Currently 18 Years old! Studying in the university of Indonesia.<br>
    Faculty of Computer Science.<br>
    Been traveling since I was born, from Jakarta to Medan to Surabaya to Pekanbaru to Jambi (longest)
 and now, I'm back at Jakarta.<br>
    Get's grumpy when sleepy.<br>
    Do not disturb when sleepy.
  </div>

  <div class="right">
    <h2>About</h2>
    <p>This is the place where you can find all you need to know about a guy named Lucky Susanto, all the basics at least.</p>
  </div>
</div>

<div style="background-color:black;text-align:right;padding:10px;margin-top:0px;"> <sub style="color:white;">Made by Lucky Susanto</sub></div>
{% include 'mainapp/includes/_footer.html' %}


</body>
</html>
