* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:black;
  padding:8px;
  margin-top:18px;
  display:block;
  width:100%;
}
.main {
  background-color:#2D2C2D;
  float:left;
  width:60%;
  padding:0 20px;
  border:1px solid #9B989B;
  color:#DF1B04;
}
.right {
  background-color:#2D2C2D;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
  color:#DF1B04;
}

a:link {
  color: tomato;
  text-decoration: none;
}

a:visited {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: yellow;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}